.card {
  display: flex;
  flex-direction: column;
  width: 390px;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  cursor: pointer;
}

.card-info {
  display: flex;
  margin-top: 10px;
  /* padding-right: 30px; */
}

.card-video-text {
  margin-left: 5px;
}

.card-video-text > h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.card-video-text > p {
  font-size: 14px;
  color: #606060;
}
.card-video-avatar {
  margin: 0px 2%;
  height: 36px !important;
  width: 36px !important;
}
